	<!-- products -->
    <section id="products">
        <div class="container py-5">
            <h2 class="section-title">Popular Products</h2>
            <div class="row">
                <div class="owl-carousel">
        <div class="item">
            <div class="img-wrap mb-4">
                <img src="assets/images/products/1.jpg" class="img-fluid" alt="product 1">
                <button class="btn-addtocart" data-id="1" data-price="1200" data-name="Sourdough">ADD TO CART</button>
            </div>
            <div class="text-wrap">
                <h5 class="text-center font-weight-bold">Sourdough</h5>
              <p class="text-center">Ks.1200</p>
              <p class="text-center review">
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
              </p>
            </div>
        </div>

        <div class="item">
          <div class="img-wrap mb-4">
                <img src="assets/images/products/2.jpg" class="img-fluid" alt="product 2">
                <button class="btn-addtocart" data-id="2" data-price="1500" data-name="Croissant">ADD TO CART</button>
            </div>
            <div class="text-wrap">
                <h5 class="text-center font-weight-bold">Croissant</h5>
              <p class="text-center">Ks.1500</p>
              <p class="text-center review">
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
              </p>
            </div>
        </div>

        <div class="item">
          <div class="img-wrap mb-4">
                <img src="assets/images/products/3.jpg" class="img-fluid" alt="product 3">
                <button class="btn-addtocart" data-id="3" data-price="7500" data-name="Choco Cheesecake">ADD TO CART</button>
            </div>
            <div class="text-wrap">
                <h5 class="text-center font-weight-bold">Choco Cheesecake</h5>
              <p class="text-center">Ks.7500</p>
              <p class="text-center review">
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
              </p>
            </div>
        </div>

        <div class="item">
          <div class="img-wrap mb-4">
                <img src="assets/images/products/4.jpg" class="img-fluid" alt="product 4">
                <button class="btn-addtocart" data-id="4" data-price="1400" data-name="Ciabatta">ADD TO CART</button>
            </div>
            <div class="text-wrap">
                <h5 class="text-center font-weight-bold">Ciabatta</h5>
              <p class="text-center">Ks.1400</p>
              <p class="text-center review">
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star-half-alt"></i>
              </p>
            </div>
        </div>

        <div class="item">
          <div class="img-wrap mb-4">
                <img src="assets/images/products/5.jpg" class="img-fluid" alt="product 5">
                <button class="btn-addtocart" data-id="5" data-price="8000" data-name="Black Forest">ADD TO CART</button>
            </div>
            <div class="text-wrap">
                <h5 class="text-center font-weight-bold">Black forest</h5>
              <p class="text-center">Ks.8000</p>
              <p class="text-center review">
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
              </p>
            </div>
        </div>

        <div class="item">
          <div class="img-wrap mb-4">
                <img src="assets/images/products/6.jpg" class="img-fluid" alt="product 6">
                <button class="btn-addtocart" data-id="6" data-price="1000" data-name="Maple Oat Muffin">ADD TO CART</button>
            </div>
            <div class="text-wrap">
                <h5 class="text-center font-weight-bold">MAPLE OAT MUFFIN</h5>
              <p class="text-center">Ks.1000</p>
              <p class="text-center review">
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star-half-alt"></i>
              </p>
            </div>
        </div>

        <div class="item">
          <div class="img-wrap mb-4">
                <img src="assets/images/products/7.jpg" class="img-fluid" alt="product 7">
                <button class="btn-addtocart" data-id="7" data-price="1600" data-name="Cheese Pocket">ADD TO CART</button>
            </div>
            <div class="text-wrap">
                <h5 class="text-center font-weight-bold">Cheese Pocket</h5>
              <p class="text-center">Ks.1600</p>
              <p class="text-center review">
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
              </p>
            </div>
        </div>

        <div class="item">
          <div class="img-wrap mb-4">
                <img src="assets/images/products/8.jpg" class="img-fluid" alt="product 8">
                <button class="btn-addtocart" data-id="8" data-price="1000" data-name="Yogurt Muffin">ADD TO CART</button>
            </div>
            <div class="text-wrap">
                <h5 class="text-center font-weight-bold">YOGURT MUFFIN</h5>
              <p class="text-center">Ks.1000</p>
              <p class="text-center review">
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star"></i> 
                  <i class="fas fa-star-half-alt"></i>
              </p>
            </div>
        </div>

      </div>
            </div>

            <div class="text-center mt-3">
                <a routerLink="ourproducts" class="btn btn-outline-dark px-5 py-2">See All Products</a>
            </div>
        </div>
    </section>
