<section id="about-us" style="padding-top: 50px;">
    <div class="container py-5">
        <h2 class="section-title">About Us</h2>

        <div class="row mb-5">
            <div class="col-lg-6 mb-3">
                <h3 class="font-weight-bold">History</h3>
                <p class="text-justify">
                    Baking is a method of preparing food that uses dry heat, normally in an oven, but can also be done in hot ashes, or on hot stones. The most common baked item is bread but many other types of foods are baked.
                </p>
                <p class="text-justify">
                    Heat is gradually transferred "from the surface of cakes, cookies, and breads to their center. As heat travels through, it transforms batters and doughs into baked goods and more with a firm dry crust and a softer centre.
                </p>
            </div>
            <div class="col-lg-6 text-center mb-3">
                <img src="assets/images/aboutus-1.jpg" class="img-fluid shadow w-75 rounded">
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-6 text-center my-3 order-2 order-lg-1">
                <img src="assets/images/aboutus-2.jpg" class="img-fluid shadow w-75 rounded">
            </div>
            <div class="col-lg-6 my-3 order-1 order-lg-2">
                <h3 class="font-weight-bold">Awards & Shops</h3>
                <ul class="my-4">
                    <li data-aos="fade-up" data-aos-duration="1000"><span><i class="fas fa-check"></i> </span>Best Interior Bakery Design in 2019</li>
                    <li data-aos="fade-up" data-aos-duration="1000"><span><i class="fas fa-check"></i> </span>Fastest Customer Service in 2020</li>
                    <li data-aos="fade-up" data-aos-duration="1000"><span><i class="fas fa-check"></i> </span>Best Dinner Dessert Award in 2020</li>
                </ul>
                <p class="text-justify" data-aos="fade-up" data-aos-duration="1000">
                    Our main office is in Yangon and we have two other branches in Yangon - Sanchaung and China Town. We also offer <strong>free delivery service</strong> within Yangon for online orders.
                </p>
            </div>
        </div>

    </div>
</section>
