	<!-- intro about -->
    <section id="about">
        <div class="container py-5">
            <div class="row my-lg-3">
                <div class="col-lg-5">
                    <!-- image border animation -->
                    <div class="img-wrap">
                        <img src="assets/images/about-img.jpg" class="img-fluid shadow rounded" alt="Product Image">
                        <div class="inner-block">
                            <div class="slider-top-right"></div>
                            <div class="block-content">
                                <h2 class="font-italic">B-Bakery</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 px-md-5">
                    <h3 class="about-heading">Welcome to Our B-Bakery!</h3>
                    <p data-aos="fade-up" data-aos-duration="1000">We offer daily fresh bread, cakes and coffee. You can enjoy at our bakery or from our online shop.</p>
                    <ul>
                        <li data-aos="fade-up" data-aos-duration="1000"><span><i class="fas fa-check"></i> </span>Bread, Cakes, and Donuts</li>
                        <li data-aos="fade-up" data-aos-duration="1000"><span><i class="fas fa-check"></i> </span>Birthday Cakes, Wedding Cakes</li>
                        <li data-aos="fade-up" data-aos-duration="1000"><span><i class="fas fa-check"></i> </span>Drinks, Cola, Tea and Coffee</li>
                    </ul>
                    <a routerLink="aboutus" class="btn btn-brown rounded-pill mt-md-3" data-aos="fade-up" data-aos-duration="1000">Read More <i class="fas fa-caret-right fa-sm ml-2"></i></a>
                </div>
            </div>
        </div>
    </section>
