<footer class="pt-5 text-center">
    <h3 class="text-center font-italic" data-aos="fade-down" data-aos-duration="1000">We Baked Every Day for You...</h3>
    <hr>
    <div class="container">
        <div class="row">

            <div class="col-md-4 mb-4">
                <h4>Opening Hours</h4>
                <div class="row opening-hour">
                    <div class="col-5">Mon - Fri</div>	
                    <div class="col-7">08:00 to 09:00</div>	

                    <div class="col-5">Sat - Sun</div>	
                    <div class="col-7">08:00 to 06:00</div>	

                    <div class="col-5 text-warning mt-3">Happy Hour</div>	
                    <div class="col-7 text-warning mt-3">11:00 to 01:00</div>	
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <h4>Address</h4>
                <p>No.15, Myay Nu Street, <br> Sanchaung Township, Yangon</p>
                <p>+95 920 3248 302</p>
            </div>

            <div class="col-md-4 mb-4">
                <h4>Newsletter</h4>
                <form>
                    <input type="email" name="email" required placeholder="Your Email...">
                    <button><i class="fas fa-paper-plane"></i></button>
                </form>
                <p class="mt-4">Subscribe to get regular updates and events.</p>
            </div>
        </div>
    </div>

    <div class="div-footer text-center py-4">
        Project by Nada Ghribi .
    </div>
</footer>
