
<section id="faq">
    <div class="container py-5">
        <h2 class="section-title">Frequently Asked Questions</h2>
        <div class="accordion" id="accordionExample">
            <div class="card border-0 shadow mb-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn-accordion btn btn-block text-left " type="button" data-toggle="collapse" data-target="#collapseOne" data-id="1" aria-expanded="true" aria-controls="collapseOne">
                        <strong>Q: </strong>Can I place an order online if I know what I want?
                        <span><i class="fas fa-caret-down arrow1 down"></i></span>
                    </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body px-4">
                        <strong>A: </strong>At this time, this is not a service we offer. We want to engage with you personally to ensure we are creating a dessert that meets your needs from design to the actual cake itself. Each cake that is requested is an unique request and requires our touch point with each of our customers.
                    </div>
                </div>
            </div>

            <div class="card border-0 shadow mb-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn-accordion btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"  data-id="2" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>Q: </strong>Why are you prices higher than the neighbor stores?
                    <span><i class="fas fa-caret-down arrow2"></i></span>
                    </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body px-4">
                        <strong>A: </strong>Neighbor stores offer a great service for those looking for that type of dessert. We are a cake studio that offers unique cakes and flavors that you wont find in your typical grocery store. Our prices reflect homemade, custom created recipes and cakes made to order.
                    </div>
                </div>
            </div>

            <div class="card border-0 shadow mb-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                    <button class="btn-accordion btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"  data-id="3" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Q: </strong>What other services do you offer?
                        <span><i class="fas fa-caret-down arrow3"></i></span>
                    </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body px-4">
                        <strong>A: </strong>We plan to offer cake decorating classes later in 2019. Some of the classes include cakepop making, American Buttercream and stacking cakes successfully for the home baker. We also plan to offer a Cupcake of the month reward program.
                    </div>
                </div>
            </div>

            <div class="card border-0 shadow mb-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                    <button class="btn-accordion btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"  data-id="4" aria-expanded="false" aria-controls="collapseFour">
                        <strong>Q: </strong>Do you deliver, if so how far?
                        <span><i class="fas fa-caret-down arrow4"></i></span>
                    </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body px-4">
                        <strong>A: </strong>Absolutely!! I understand it can be very stressful delivering a cake, so leave it to me to make sure it gets there in one piece! As for distance, right now there is no limit, the furthest I have driven a large cake was 3.5 hours away. The usual fee is Ks.2,000 per mile to the destination.
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
