<section id="review">
    <div class="container py-5">
        <h2 class="section-title">Customers' Reviews</h2>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h4 class="font-italic text-center pt-5 pb-4">
                        <sup><i class="fas fa-quote-left"></i></sup> Thank you all the staff of B bakery <br> for making amazing cake for my husband's 50th birthday <sup><i class="fas fa-quote-right"></i></sup>
                    </h4>
                    <p class="text-center review">
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i> 
            </p>
            <div class="people text-center pt-3 pb-5">
                <div class="img image1 rounded-circle"></div>
                <h5 class="font-weight-bold my-3">Anna</h5>
            </div>
                </div>

                <div class="carousel-item">
                    <h4 class="font-italic text-center pt-5 pb-4">
                        <sup><i class="fas fa-quote-left"></i></sup> Thank you so much! <br>That cake was honestly breathtaking…. I'm so happy. <sup><i class="fas fa-quote-right"></i></sup>
                    </h4>
                    <p class="text-center review">
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i> 
          <i class="fas fa-star-half-alt"></i>
            </p>
            <div class="people text-center pt-3 pb-5">
                <div class="img image2 rounded-circle"></div>
                <h5 class="font-weight-bold my-3">John</h5>
            </div>
                </div>

                <div class="carousel-item">
                    <h4 class="font-italic text-center pt-5 pb-4">
                        <sup><i class="fas fa-quote-left"></i></sup> We loved the cake you made <br>for our daughters birthday. All our guests enjoyed it as well. <sup><i class="fas fa-quote-right"></i></sup>
                    </h4>
                    <p class="text-center review">
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i> 
            </p>
            <div class="people text-center pt-3 pb-5">
                <div class="img image3 rounded-circle"></div>
                <h5 class="font-weight-bold my-3">David</h5>
            </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
                    
    </div>	<!-- end of container -->
</section>
