	<!-- new arrival -->
    <section id="newarrival">
        <div class="container py-5">
            <h2 class="section-title">New Products</h2>
            <div class="row">
                <div class="col-4 col-md-3">
                    <div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-product1-tab" data-toggle="pill" href="#v-pills-product1" role="tab" aria-controls="v-pills-product1" aria-selected="true">
                            <img src="assets/images/products/n1.png" class="img-fluid" alt="New product">
                        </a>
                        <a class="nav-link" id="v-pills-product2-tab" data-toggle="pill" href="#v-pills-product2" role="tab" aria-controls="v-pills-product2" aria-selected="false">
                            <img src="assets/images/products/n2.png" class="img-fluid" alt="New product">
                        </a>
                        <a class="nav-link" id="v-pills-product3-tab" data-toggle="pill" href="#v-pills-product3" role="tab" aria-controls="v-pills-product3" aria-selected="false">
                            <img src="assets/images/products/n3.png" class="img-fluid" alt="New product">
                        </a>
                    </div>
                </div>
                <div class="col-8 col-md-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-product1" role="tabpanel" aria-labelledby="v-pills-product1-tab">
                            
                            <div class="div-explanation bg-white p-4">
                                <div class="ribbon" data-aos="zoom-in-down" data-aos-duration="2000" data-aos-delay="300">NEW</div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5 class="font-weight-bold">Raspberry Bread</h5>
                                        <p>
                                            It's the softest and moistest raspberry bread with sour cream ever. It's so, so easy to make and focuses on the simple, delicious flavor of blueberries.
                                        </p>
                                        <div class="mt-4 d-none d-md-block d-lg-none">
                                            <h6 class="font-weight-bold">Ingredients</h6>
                                            <ul>
                                                <li>
                                                    Butter, Sugar, Eggs, Sour Cream or Yogurt, Raspberry, Flour, Leaveners, Milk
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mt-2 d-none d-lg-block">
                                            <h6 class="font-weight-bold">Ingredients</h6>
                                            <ul>
                                                <li>Butter</li>
                                                <li>Sugar</li>
                                                <li>Eggs</li>
                                                <li>Sour Cream or Yogurt</li>
                                                <li>Raspberry</li>
                                                <li>Flour</li>
                                                <li>Leaveners</li>
                                                <li>Milk</li>
                                            </ul>
                                            <p class="mt-4"><strong>NEW:</strong> This is a new product of July, regarding to rainy season. It is the best recipe to enjoy with hot coffee during the rain.</p>
                                        </div>
                                        <div class="my-md-5 div-price my-3">
                                            <span class="price mt-3">Ks. 1200</span>
                                            <a routerLink="ourproducts" class="btn btn-brown rounded-pill ml-4">BUY NOW <i class="fas fa-caret-right fa-sm ml-2"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-image1 d-none d-lg-block"></div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="v-pills-product2" role="tabpanel" aria-labelledby="v-pills-product2-tab">
                            
                            <div class="div-explanation bg-white p-4">
                                <div class="ribbon">NEW</div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5 class="font-weight-bold">Maple Oat Muffin</h5>
                                        <p>
                                            The perfect on-the-go breakfast or afternoon snack, these brown sugar maple oatmeal muffins are tasty any time of day!
                                        </p>
                                        <div class="mt-4 d-none d-md-block d-lg-none">
                                            <h6 class="font-weight-bold">Ingredients</h6>
                                            <ul>
                                                <li>
                                                    Oats, Milk, Flour, Salt, Baking Soda, Ground Cinnamon, Maple Syrup, Butter, Eggs, Chopped Pecans
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mt-2 d-none d-lg-block">
                                            <h6 class="font-weight-bold">Ingredients</h6>
                                            <ul>
                                                <li>Oats</li>
                                                <li>Milk</li>
                                                <li>Flour & Salt</li>
                                                <li>Baking Soda</li>
                                                <li>Ground Cinnamon</li>
                                                <li>Maple Syrup</li>
                                                <li>Butter</li>
                                                <li>Eggs</li>
                                                <li>Chopped Pecans</li>
                                            </ul>
                                            <p class="mt-4"><strong>NEW:</strong> This is the best to enjoy together with your friends to share your happiness.</p>
                                        </div>
                                        <div class="my-md-5 div-price my-3">
                                            <span class="price mt-3">Ks. 1000</span>
                                            <a href="product.html" class="btn btn-brown rounded-pill ml-4">BUY NOW <i class="fas fa-caret-right fa-sm ml-2"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-image2 d-none d-lg-block"></div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="v-pills-product3" role="tabpanel" aria-labelledby="v-pills-product3-tab">
                            
                            <div class="div-explanation bg-white p-4">
                                <div class="ribbon">NEW</div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5 class="font-weight-bold">Chocolate Tarts</h5>
                                        <p>
                                            The perfect dinner party dessert, these mini crispy sweet chocolate tarts fill your dreams with the dark chocolate and milk chocolcate.
                                        </p>
                                        <div class="mt-4 d-none d-md-block d-lg-none">
                                            <h6 class="font-weight-bold">Ingredients</h6>
                                            <ul>
                                                <li>
                                                    Oats, Milk, Flour, Salt, Baking Soda, Ground Cinnamon, Maple Syrup, Butter, Eggs, Chopped Pecans
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mt-2 d-none d-lg-block">
                                            <h6 class="font-weight-bold">Ingredients</h6>
                                            <ul>
                                                <li>Oreo Cookies</li>
                                                <li>Butter</li>
                                                <li>Chocolate</li>
                                                <li>Milk Chocolate</li>
                                                <li>Heavy Cream</li>
                                                <li>Eggs</li>
                                                <li>Flour</li>
                                                <li>Sugar</li>
                                                <li>Milk</li>
                                            </ul>
                                            <p class="mt-4"><strong>NEW:</strong> It is the best to enjoy as a snack after your lunch or dinner with your family.</p>
                                        </div>
                                        <div class="my-md-5 div-price my-3">
                                            <span class="price mt-3">Ks. 1000</span>
                                            <a href="product.html" class="btn btn-brown rounded-pill ml-4">BUY NOW <i class="fas fa-caret-right fa-sm ml-2"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-image3 d-none d-lg-block"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>